@use '../abstract/abstract_main' as abstr;
@use '../base/base_main' as base;
@use '../themes/themes_main' as theme;



// .card {
//     background-color: #333;

//     // @include respond(zero, small){
//     //     font-size: fn.px-to-rem(10);
//     // };
//     // @include respond(small, medium){
//     //     font-size: fn.px-to-rem(16);
//     // };
//     // @include respond(medium, large){
//     //     font-size: fn.px-to-rem(32);
//     // };

//     // @include mx.flex-col-center;
//     // @include mx.fade-in(1s);

//     &__title {
//         color: green;
//     }

//     &__text {
//         color: white;

//         &--highlight{
//             color: red
//         }
//     }

//     &:hover{
//         background-color: rgba(0,0,0,0.5);
//     }
// }

.game__field__card {
    height: 120px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    outline: none;
    
    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
        
    }
    
    &__face{
        position: absolute;
        inset: 0;
        background: linear-gradient(45deg, hsla(169, 47%, 37%, 1), hsla(169, 62%, 57%, 1));
        backface-visibility: hidden;
        border-radius: 15px;
        @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);

        &--back{
            transform: rotateY(180deg);
            background: hsla(164, 31%, 93%, 1);
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
        }
    }
    &.is-flipped .game__field__card__inner{
        transform: rotateY(180deg);
    }
}