@use '../abstract/abstract_main' as abstr;
@use '../base/base_main' as base;
@use '../themes/themes_main' as theme;


.game__field__card {
    height: 120px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    outline: none;
    
    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
        
    }
    
    &__face{
        position: absolute;
        inset: 0;
        background: linear-gradient(45deg, var(--card-front-from), var(--main-theme-color)); // linear-gradient(45deg, hsla(169, 47%, 37%, 1), hsla(169, 62%, 57%, 1))
        backface-visibility: hidden;
        border-radius: 15px;
        @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);

        &--back{
            transform: rotateY(180deg);
            background: var(--card-back);
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
        }
    }
    &.is-flipped .game__field__card__inner{
        transform: rotateY(180deg);
    }
    &.is-matching{
        outline: 5px solid var(--main-theme-color);
        border-radius: 15px;
        box-shadow: 6px 6px 8px var(--main-theme-color);
    }
}