$background: hsla(180, 1%, 19%, 1);
$text: hsla(0, 0%, 100%, 1);
$startBtn: hsla(57, 81%, 69%, 1);
$startBtn-Bg: hsl(0, 0%, 96%);
$startBtn-Disabled-Bg: hsla(57, 7%, 85%, 1);
$startBtn-Disabled-Text: hsla(0, 1%, 64%, 1);

$player-one-color: hsla(202, 100%, 58%, 1);
$player-two-color: hsla(27, 90%, 59%, 1);

$settings-padding: clamp(8px, 3vw, 124px);
$settings-padding-top: clamp(40px, 5vw, 114px);

$game-exit-popover-padding: 16px 24px;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.screen-title,
.screen-settings{
    background-color: $background;
    color: $text;
}

.screen-title,
.screen-settings,
.screen-game,
.screen-win,
.screen-lose {
    width: 100%;
    min-height: 100dvh;
}

.screen-game,
.screen-win,
.screen-lose {
    background-color: var(--background);
    color: var(--font-color)
}

.wrapper {
    max-inline-size: 1920px;
    margin-inline: auto;
    width: 100%;
    position: relative;
}

.pd-general {
    padding-inline: $settings-padding;
}

main {
    font-family: var(--font-family);
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}
:popover-open {
    border: none;
    outline: none;
}

.color-player1{
    color: $player-one-color;
}

.color-player2{
    color: $player-two-color;
}

.m-b-64 {
    margin-bottom: 64px;
}

.m-t-64 {
    margin-top: 64px;
}