@use '../abstract/abstract_main' as abstr;
@use '../base/base_main' as base;
@use '../themes/themes_main' as theme;

// .screen-game {
//     font-family: 'Red Rose', sans-serif;
// }

.game {
    &__header {
        @include abstr.flex-direction-align-justify-gap(row, center, space-between);
        box-sizing: border-box;
        min-height: abstr.px-to-rem(64);
        font-size: abstr.px-to-rem(32);
        margin-top: base.$settings-padding-top;

        &__player-info {
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
            background-color: var(--btn_exit_bg-unselect);
            padding: 17px 20px;
            max-height: abstr.px-to-rem(64);

            &--blue {
                color: #2BB1FF;
                width: abstr.px-to-rem(32);
            }

            &--orange {
                color: #F58E39;
                width: abstr.px-to-rem(32);
            }
        }

        &__player-current {
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
            min-height: abstr.px-to-rem(64);
        }

        &__exit {
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
            font-size: abstr.px-to-rem(24);
            font-weight: 700;
            color: base.$text;
            min-height: abstr.px-to-rem(64);
            padding: 16px 24px;
            background-color: var(--btn_exit_bg-unselect) ; // hsla(169, 69%, 72%, 0.14) need update, according to Theme-Choice
        }
    }

    &__field{
        display: grid;
        grid-template-columns: repeat(4, 120px); // need update, according to choice (16 -> 4 (x4)/ 24 -> 6 (x4) / 36 -> 6 (x6))
        place-items: center;
        gap: clamp(8px, 2.5vw, 24px);
        justify-content: center;
        margin-top: base.$settings-padding-top;
        flex-wrap: wrap;
    }
}