@use '../abstract/abstract_main' as abstr;
@use '../base/base_main' as base;
@use '../themes/themes_main' as theme;


.game {
    &__header {
        @include abstr.flex-direction-align-justify-gap(row, center, space-between);
        box-sizing: border-box;
        min-height: abstr.px-to-rem(64);
        font-size: abstr.px-to-rem(32);
        margin-top: base.$settings-padding-top;

        &__player-info {
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
            background-color: var(--btn_exit_bg-unselect);
            padding: 17px 20px;
            max-height: abstr.px-to-rem(64);

            &--blue,
            &--orange {
                width: abstr.px-to-rem(32);
                text-align: center;
            }

            &--blue {
                color: base.$player-one-color;
            }

            &--orange {
                color: base.$player-two-color;
            }
        }

        &__player-current {
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
            min-height: abstr.px-to-rem(64);
        }

        &__exit {
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
            font-size: abstr.px-to-rem(24);
            font-weight: 700;
            color: var(--font-color);
            min-height: abstr.px-to-rem(64);
            padding: base.$game-exit-popover-padding;
            background-color: var(--btn_exit_bg-unselect);
            border: 1px solid var(--main-theme-color);
            transition: 125ms ease-in;

            &:active,
            &:hover,
            &:focus-visible {
                background-color: var(--btn_exit_bg-selected);
            }

            &__popover {
                margin-top: 16px;
                position-area: bottom span-left;
                padding: clamp(16px, 3vw, 32px);
                font-size: clamp(24px, 3vw, 32px);
                font-weight: 700;
                text-wrap: balance;
                text-align: center;
                border: none;
                animation: slideIn 0.3s ease-in;

                &__cancel,
                &__action {
                    font-size: abstr.px-to-rem(20);
                    padding: base.$game-exit-popover-padding;
                    transition: 125ms ease-in;  
                    
                    &:active,
                    &:hover,
                    &:focus-visible {
                        background-color: var(--btn_popup_back_bg-active);
                        border: 2px solid var(--btn_popup_back_border-active);
                        color: var(--font-color);
                    }
                }

                &__cancel {
                    background-color: var(--btn_popup_back);
                    border: 2px solid transparent;
                    color: var(--font-color);
                }

                &__action {
                    background-color: var(--btn_popup_exit_bg);
                    border: 2px solid var(--main-theme-color);
                    color: var(--main-theme-color);
                }

                &>div {
                    margin-top: abstr.px-to-rem(54);
                    @include abstr.flex-direction-align-justify-gap(row, center, center, 24px);
                }

                &::backdrop {
                    background-color: rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(2px);
                    pointer-events: none;
                }

            }
        }
    }

    &__field {
        display: grid;
        grid-template-columns: repeat(4, 120px); // need update, according to choice (16 -> 4 (x4)/ 24 -> 6 (x4) / 36 -> 6 (x6))
        place-items: center;
        gap: clamp(8px, 2.5vw, 24px);
        justify-content: center;
        margin-top: base.$settings-padding-top;
        flex-wrap: wrap;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}