@use '../abstract/abstract_main' as abstr;
@use '../base/base_main' as base;

$settings-padding: clamp(8px, 3vw, 24px);

.screen-settings {
    @include abstr.flex-direction-align-justify-gap(column, start, start);
    font-family: 'Almarai', sans-serif;
}

.settings {
    &__h2 {
        font-family: 'Red Rose', sans-serif;
        font-weight: 700;
        font-size: abstr.px-to-rem(54);
        padding-top: clamp(64px, 5vw, 114px);
        padding-inline: $settings-padding;
        @include abstr.flex-direction-align-justify-gap(column, start);
    }

    &__underline {
        transform: translate(8px, -8px);
        width: calc(100% - 8px);
    }

    &__h3 {
        @include abstr.flex-direction-align-justify-gap(row, center, flex-start, 4px);
        margin-top: clamp(8px, 4vw, 62px);
        padding-inline: $settings-padding;
        font-size: abstr.px-to-rem(24);
        font-weight: 700;
    }

    &__layout {
        @include abstr.flex-direction-align-justify-gap(row, flex-start, space-between, 4px);
        width: 100%;

        &__a {
            @include abstr.flex-direction-align-justify-gap(column, start, center);
        }

        &__b {
            @include abstr.flex-direction-align-justify-gap(column, flex-end, center);
            flex: 1;
        }
    }

    &__box {
        @include abstr.flex-direction-align-justify-gap(column, start, start, 12px);
        padding-top: abstr.px-to-rem(16);

        &__input {
            @include abstr.flex-direction-align-justify-gap(row, center, center, 8px);
            padding-left: abstr.px-to-rem(62);
        }
    }

    &__theme-img {
        max-width: abstr.px-to-rem(460);
    }

    &__start-section {
        @include abstr.flex-direction-align-justify-gap(row, center, flex-start, 8px);
        background-color: base.$startBtn-Bg;
        color: base.$background;
        padding-inline: abstr.px-to-rem(20);
        padding-block: abstr.px-to-rem(14);
        font-size: abstr.px-to-rem(20);
        margin-top: clamp(8px, 4vw, 46px);
        margin-bottom: abstr.px-to-rem(64);

        &__line--mobile {
            display: none;
        }
    }

    &__btn {
        background-color: base.$startBtn;
        color: base.$background;
        padding: clamp(4px, 3vw, 14px);
        font-size: abstr.px-to-rem(24);
        font-weight: 700;
        @include abstr.flex-direction-align-justify-gap(row);
        gap: abstr.px-to-rem(8);
        transition: all 0.3s ease-in-out;
        margin-left: abstr.px-to-rem(8);

        &>.starticon {
            transition: 0.3s ease-in-out;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 3px 3px 15px hsla(0, 0%, 100%, 1);

            &>.starticon {
                transform: rotate(-14deg);
            }
        }
    }
}

label,
input {
    cursor: pointer;
}

// input[radio] {
//     // appearance: none;

//     border-radius: 50%;
//     width: 16px;
//     height: 16px;

//     border: 2px solid #ffffff;
//     margin-right: 5px;

//     position: relative;
//     top: 4px;
//     transition: 0.2s all linear;

//     &:checked {
//         border: 6px solid black;
//     }
// }